html { 
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template: 
    "main";
}

#login {
  grid-area: main;
  justify-self: center;
  align-self: center;
  
  display: grid;
  grid-template: 
    "heading"
    "login_field"
    "password_field"
    "login_button"
    /minmax(auto, 400px)
  ;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  box-shadow: 0px 0px 2px 2px #cccccc;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#login > h2 { 
  margin: 0;
  font-weight: normal;
}

#login #login_button {
  padding: 10px;
}

#login input[type="text"], 
#login input[type="password"] {
  font-size: 1.5em;
}

#approve_sitters {
  background-color: #efefef;
  padding: 40px;

  grid-area: main;

  display: grid;
  grid-template: 
    "sitters sitters"
    "nothing check-availability" 40px
  ;
  align-items: start;

}

 cat-sitters {
  grid-area: sitters;
  display: grid;
  grid-row-gap: 10px;
  align-items: stretch;
  grid-auto-rows: 1fr;
}

#availability_check {
  background-color: #d2caee;
  padding: 40px;
  grid-area: main;

  display: grid;
  grid-template: 
    "from to " 40px
    "sitters sitters"
  ;
  align-items: start;

}

cat-sitter {
  display: grid;
  background-color: white;
  grid-template: 
    "photo name     rate" auto
    "photo location rate" auto
    "photo bio      rate" 1fr
    "photo rating   approve-button" auto
    /120px  1fr     120px
  ;

  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #cccccc;
  grid-column: 1/3;
  align-items: start;
}

cat-sitter.approved {
  background-color: #d2caee;
  border-color: #4b3a80;
}

cat-sitter .photo {
  grid-area: photo;
  border-radius: 100000px;
  border: 1px solid grey;
  width: 100%;
}

cat-sitter .name {
  grid-area: name;
  margin: 0
}
cat-sitter .location {
  grid-area: location;
  color: grey;
}

cat-sitter .bio {
  grid-area: bio;
  margin: 0;
}
cat-sitter .rates {
  grid-area: rate;
}

cat-sitter .rates .amount {
  font-weight: bold;
  font-size: 1.5em;
  border-bottom: 1px solid #eee;
}

cat-sitter .rating {
  grid-area: rating;
  align-self: end;
  color: rgb(214, 182, 2);
}

cat-sitter button.approve {
  grid-area: approve-button;
  align-self: end;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid  #4b3a80;
  padding: 10px;
}
cat-sitter button.book {
  grid-area: approve-button;
  align-self: end;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid  green;
  background-color: green;
  color: white;
  padding: 10px;
}

cat-sitter button.approve {
  display: block;
}
cat-sitter button.book {
  display: none;
}

cat-sitter.booking button.approve {
  display: none;
}
cat-sitter.booking button.book {
  display: block;
}



#check_availability_button {
  font-size: 1.2em;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #4b3a80;
  color: white;
  cursor: pointer;
  grid-area: check-availability
}