html { 
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template: 
    "main";
}

#login {
  grid-area: main;
  justify-self: center;
  align-self: center;
  
  display: grid;
  grid-template: 
    "heading"
    "login_field"
    "password_field"
    "login_button"
    /minmax(auto, 400px)
  ;
  align-items: center;
  justify-items: center;
  row-gap: 30px;
  box-shadow: 0px 0px 2px 2px #cccccc;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
}

#login > h2 { 
  margin: 0;
  font-weight: normal;
}

#login #login_button {
  padding: 10px;
}

#login input[type="text"], 
#login input[type="password"] {
  font-size: 1.5em;
}

#approve_sitters {
  background-color: #efefef;
  padding: 10px;
  grid-area: main;
}

#availability_check {
  background-color: #d2caee;
  padding: 10px;
  grid-area: main;

}

cat-sitter {
  display: grid;
  background-color: white;
  grid-template: 
    "photo name     rate"
    "photo location rate"
    "photo bio      rate"
    "photo rating   approve-button"
  ;

  column-gap: 10px;
  height: 100px;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #cccccc;
}

cat-sitter.approved {
  background-color: #d2caee;
}

cat-sitter .photo {
  grid-area: photo;
  border-radius: 100000px;
  border: 1px solid grey;
  height: 100%;
}

cat-sitter .name {
  grid-area: name;
  margin: 0
}
cat-sitter .location {
  grid-area: location;
}

cat-sitter .bio {
  grid-area: bio;
  margin: 0;
}
cat-sitter .rates {
  grid-area: rate
}
cat-sitter .rating {
  grid-area: rating;
  color: gold;
}

cat-sitter button.approve {
  grid-area: approve-button;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#check_availability_button {
  font-size: 1.2em;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #4b3a80;
  color: white;
  cursor: pointer;
}